.navbar-container {
  margin-top: 30px;
  display: flex;
  padding: 0 40px;
  background-color: darkcyan;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
}

.navbar-item {
  color: white;
  font-size: large;
  font-weight: bold;
}

.navbar-item:hover {
  color: burlywood;
}
