span.name {
  color: coral;
  text-transform: uppercase;
}

button {
  height: 30px;
  width: 50px;
  background-color: rgb(240, 112, 112);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: rgb(253, 186, 186);
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
}
